
:root {

  /* -- Colors -- */
  --clr-accent-1: 50, 100%, 50%; /* hsl yellow */
  --clr-accent-2: 202, 98%, 67%; /* hsl blue */
  --clr-accent-3: 16, 100%, 50%; /* hsl orange */
  --clr-accent-4: 137, 71%, 58%; /* hsl green */
  --clr-accent-5: 248, 100%, 74%; /* hsl purple */

  --clr-primary-900: hsl(0, 0%, 1%);
  --clr-primary-800: hsl(0, 0%, 8%);
  --clr-primary-700: hsl(0, 0%, 11%);
  --clr-primary-400: hsl(210, 3%, 62%);
  --clr-primary-100: hsl(0,0%,100%);

  --shadow-color: 206deg 85% 36%;

  /* -- Fonts -- */
  --ff-primary: "DM Sans", sans-serif;;
  --ff-secondary: "DM Serif Display", serif;;

  --ff-body: var(--ff-primary);
  --ff-accent: var(--ff-secondary);

  --fw-bold: 700;

  --fs-400: 1rem;
  --fs-500: 1.5rem;
  --fs-700: 4rem;
  --fs-900: 6rem;

  --fs-body: var(--fs-400);
  --fs-hero: var(--fs-900);
  --fs-headers: var(--fs-700);

  --sp-xs: .5rem;
  --sp-s: 2.5rem;
  --sp-m: 5rem;
  --sp-l: 12rem;
  --sp-xl: 16rem;

  --circle-size-l: max(calc(100vw * .55), calc(100vh * .55));
  --circle-size-s: max(calc(100vw * .4), calc(100vh * .4));

}

@media (max-width: 50em) {
  :root {
    --fs-400: 1rem;
    --fs-500: 1.25rem;
    --fs-700: 2.25rem;
    --fs-900: 3rem;

    --fs-headers: var(--fs-500);

    --sp-xs: .5rem;
    --sp-s: 1.5rem;
    --sp-m: 2.5rem;
    --sp-l: 6rem;
    --sp-xl: 8rem;
  }
}


/* ---- Reset ---- */

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin, padding and fonts
*/
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeSpeed;

  font-family:var(--ff-body);
  background-color: var(--clr-primary-900);
  color:var(--clr-primary-400);

  cursor: none;
}
/*
  5. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}
/*
  Remove list styles
*/
ul[role="list"],ol[role="list"] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

html, body{
  height: 100%;
  scroll-behavior: smooth;
}


header { 
  position: relative;
}



/* --- Containers and Wrappers -- */


.container {
  display:flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  gap: 200px;

  height: min-content;
  width: 100%;

  padding: 24px 0;
}

.wrapper {
  max-width: 1080px;
  width: 80%;
}



.flex-container {
  display: flex; 
  align-content:flex-start; 
  flex-basis: 0px;
}


/* Sticky Stuff */

.card-info {
  position: sticky;
  position: -webkit-sticky;
  top: 25vh;
}

@media (max-width: 50em){
  .card-info {
    top: 10vh;
  }
}

.sticky {
  position: sticky;
  position: -webkit-sticky;
  top:0;
}



/* Links & Buttons */

a {
	color: hsl(var(--clr-accent-1));
  position: relative;
  text-decoration: none;
}

.link::after {
  content: '';
  display: block;
  width: min-width;
  height: 2px;
  background:hsl(var(--clr-accent-1));
  transform-origin: right;
  transform:scaleX(0);
  transition: transform .3s;
}

.link:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}

.link:hover a span{
  transform: translateY(-100px);
}

.btn {
  display: inline-block;
  text-decoration: none;

  padding: 8px 8px;

  overflow: hidden;

  border:none;

  font-weight: var(--fw-bold);
  color:var(--clr-primary-900);
  text-transform: uppercase;

  position: relative;

  cursor:pointer;

  transition: all 0.4s ease;

  &:hover{

    background-color:white;
    color:var(--clr-primary-900);

  }
}


.btn-nav {
  display: flex;
  align-items: center;
  overflow: hidden;

  height:auto;

  width: 140px;
  
  gap: var(--sp-xs);

  padding: 10px 20px;

  line-height: 1.5rem;

  cursor: pointer;

  background-color: transparent;

  border: 1px solid hsl(var(--clr-accent-1));
  color: var(--clr-primary-100);
  
  transition: all 0.4s ease;
}

.btn-nav.hidden {
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease;
}

.btn-text {
  white-space: nowrap;
}

.shrink {
  padding: 10px 13px;
  width: 44px;
  gap: var(--sp-s);

  background-color: hsl(var(--clr-accent-1));

  color: var(--clr-primary-900);
}

.btn-hero{
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  height:auto;
  min-width:270px;
  
  gap: var(--sp-xs);

  padding: 10px 20px;

  line-height: 1.5rem;

  cursor: pointer;

  background-color: hsl(var(--clr-accent-1));
  
  transition: all 0.4s ease;

  &:hover{

    background-color:white;
    color:var(--clr-primary-900);

  }
}




.btn-footer {
  padding:0;

  width: 270px;
  height: 42px;
}

.btn.btn-footer::after,
.btn.btn-footer::before {
    content: "Contact me";
    position: absolute;
    text-align: center;
    width: 100%;
    line-height: 2.5;

    transition: all 300ms;
    top: 0;
}

.btn.btn.btn-footer:hover::after {
    top: -36px;
}

.btn.btn-footer::before {
    content: "whitesidesba@gmail.com";
    top: 36px;
}

.btn.btn.btn-footer:hover::before {
    top: 0;
}



.btn-container:hover .tooltip{
  visibility:visible;
  opacity: 1;
  transform: translateY(0);
}

.btn-container .tooltip {
  visibility:hidden;

  position:relative;
  bottom: 0px;

  align-self:flex-end;
  justify-content: center;;

  font-size: .75rem;
  color:var(--clr-primary-400);

  background-color: var(--clr-primary-700);

  text-align: center;


  border: 1px solid var(--clr-primary-800);
  border-radius: 6px;
  padding: 5px 10px;

  z-index: 1;
  cursor: pointer;

  transform: translateY(10px);
  opacity: 0;
  transition: all .2s ease-out;
}



/*  Classes */

.nav {
  display: flex;
  flex-direction: row;
  flex: none;
  flex-wrap: nowrap;
  height: min-content;
  justify-content: space-between;
  align-items: center;

  line-height: 1;

  z-index:1000;

  position: fixed;
  width: 100%;
  
  padding:20px 40px;

  color: var(--clr-primary-100);
}

@media (max-width:50em) {
  .nav {
    background: linear-gradient(to top, transparent, var(--clr-primary-900) 50%);
  }
}

.hero {
  color:var(--clr-primary-100);
  font-size: var(--fs-hero);
  line-height: 1;
  font-weight: var(--fw-bold);

  transition: all .5s ease
}

.subhero {
  font-size: var(--fs-500);
  line-height: 1.2;
}


.card {
  display:flex;
  flex-wrap: wrap;

  gap: var(--sp-s);
}


.card-wrapper {
  padding: var(--sp-l) 0;
  flex: 1 0 0px;
}

.card-info {
  display: flex;
  flex-direction: column;

  min-width: 280px;
  z-index:10;
}

.card-info p{
  max-width:450px;
  font-size: var(--fs-500);
}

.kicker {
  font-size: var(--fs-400);
  text-transform: uppercase;
  letter-spacing: .25rem;
  font-weight:var(--fw-bold);
}

.card-header {
  font-size: var(--fs-700);
  font-weight: var(--fw-bold);
  margin-bottom: .25rem;

  line-height: 1;

  color:var(--clr-primary-100);
}

.chip {
  background-color: var(--clr-primary-800);
  padding: 5px 10px;
  border-radius: 30px;
  font-size: var(--fs-400);
  border: 1px solid var(--clr-primary-700);

/*   &.graphic {color:hsla(var(--clr-accent-1), 0.7); border:.5px solid hsla(var(--clr-accent-1), .2)}
  &.marketing {color:hsla(var(--clr-accent-2), 0.7); border:.5px solid hsla(var(--clr-accent-2), .2)}
  &.motion{color:hsla(var(--clr-accent-3), 0.7); border:.5px solid hsla(var(--clr-accent-3), .2)}
  &.product{color:hsla(var(--clr-accent-4), 0.7); border:.5px solid hsla(var(--clr-accent-4), .2)}
  &.web{color:hsla(var(--clr-accent-5), 0.7); border:.5px solid hsla(var(--clr-accent-5), .2)} */
}

.icons {
  height: 32px;
}

.card-img-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1 0 0px;
  gap: var(--sp-s);

  width: 100%;
  min-width: 280px;

}

.card-img-row {
  display: flex;
  flex-flow: row wrap;
  gap: var(--sp-s);

  width:100%;
  min-width: 280px;
}

.card-img-col {
  display: flex;
  flex-flow: column wrap;
  gap: var(--sp-s);

  width: 100%;
  min-width: 280px;
}

.card-img {
  display: flex;
  flex: 1 1 0px;
  height:100%;
  transform: translateY(80px);
  transition: all 0.8s ease-in-out;
}

.card-img img {

  align-self: center;
}


.img-slide {
  transform: translateY(0);
}




.its-a-me {
  cursor: pointer;
  position: relative;
  color: hsl(var(--clr-accent-1));
}

.heres-brucey {
  position:absolute;
  bottom: 100%;
  left: 0;


  background-color: hsl(var(--clr-accent-1));
  color: var(--clr-primary-100);

  border: 5px solid hsl(var(--clr-accent-1));
  border-radius: 100px;

  overflow: hidden;

  transform: translateY(10px);
  opacity: 0;
  transition: all 0.3s ease;

}

.its-a-me:hover .heres-brucey{
  transform: translateY(0px);
  opacity:1;
}





.slide-up {  
  opacity:0;
  
  animation-name: slideup;
  animation-duration: .5s;
  animation-delay: .2s;
  animation-fill-mode:forwards;
}

@keyframes slideup {
  0% {opacity:0; transform: translateY(10%);}
  100%{opacity:1; transform: translateY(0);}
}




/* ---- Background & Decorative elements ---- */

.custom-cursor {
  width:20px;
  height: 20px;
  background-color: hsl(var(--clr-accent-1));
  position:fixed;
  pointer-events: none;
  mix-blend-mode: difference;
  z-index: 10000;
  transform: translate(-50%, -50%);
}

.custom-cursor-hover {
  transform: rotate(360deg);
  transition-duration: 1s;
  transition-delay: now;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.g-container{ 
  position: absolute; 
  width: 100%; 
  height: min-content;
  overflow-x:hidden; 
  background: linear-gradient(to bottom, transparent, var(--clr-primary-900) 90%);
  z-index: -10; }

.herobg {
  position: relative;  
  top:0px; 
  right:-10%;

  min-width: 450px;
}

@media (max-width: 50em) {
  .g-container{top: 35px}
}

/* .colorg{  position: absolute; background-size: contain; background-repeat: no-repeat; background-position: center;}
.yellowG{ right: -5%; top:10%; mix-blend-mode: lighten; width: var(--circle-size-s); height: var(--circle-size-s);  background-image:  url(images/YellowG_BG.svg);}
.orangeG{ right: 0%; top:0%; mix-blend-mode: lighten; width: var(--circle-size-s); height: var(--circle-size-s);  background-image: url(images/OrangeG_BG.svg);  }
.blueG{ opacity: 0; animation-fill-mode: forwards;right: 5%; top:35%; mix-blend-mode: lighten; width: var(--circle-size-s); height: var(--circle-size-s); background-image: url(images/BlueG_BG.svg); }
.greenG{ right: -5%; top:30%; mix-blend-mode: lighten; width: var(--circle-size-s); height: var(--circle-size-s); background-image: url(images/GreenG_BG.svg);  }
.purpleG{ right: -5%;top:0%; mix-blend-mode: lighten; width: var(--circle-size-l); height: var(--circle-size-l);  background-image: url(images/PurplrG_BG.svg); } */


.line{
  position: relative;
  z-index:-2;
}

.line-v{
  width:1px;
  height: 100vh;
  background: linear-gradient(to bottom, hsl(var(--clr-accent-1)) 0, rgba(0,0,0,0));
  opacity: 0;

  position:fixed; 
  top:0;

  animation-name: appear;
  animation-duration: 3s;
  animation-delay:500ms;
  animation-fill-mode:forwards;

  &.left{ left: calc(50% - 560px);}
  &.right {right: calc(50% - 560px);}
}

@media (max-width: 84em){
  .line-v {
    &.left{ left: calc(50% - calc(100vw * .8) / 2 - 20px );}
    &.right {right: calc(50% - calc(100vw * .8) / 2 - 20px );}
  }
}

@keyframes appear {
  0%  {opacity:0;}
  100% {opacity:.8}
}


.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  opacity: 0;
  z-index: 1;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.hero:has(span:nth-of-type(2):hover) {
  color: var(--clr-primary-400);
}
.hero:has(span:nth-of-type(4):hover) {
  color: var(--clr-primary-400);
}

.world {
  transition: all .3s ease;
}

.world:hover {
  color: var(--clr-primary-100);
  text-shadow:2px 2px 20px hsl(var(--clr-accent-5)), -2px -2px 20px hsl(var(--clr-accent-5));

}

.world:before {
  content: '';

  display: inline-block;
  position: absolute;

  top: -20%;
  right: 55%;


  width: 35px;
  height: 35px;
  border-radius: 50%;

  background: radial-gradient(circle at left, #020202 30%, #461c00 50%, #A34203 75%, #D9D9D9 120%);
  box-shadow: 2px -1px 4px #ffffff;
  z-index: -1;

  opacity:0;
  transform: translate(50px ,50px);
  transition: opacity 1s ease, transform 3s ease-out;

}

.world:after {
  content: '';

  display: inline-block;
  position: absolute;

  top: 0;
  right: 45%;


  width: 100px;
  height: 100px;
  border-radius: 50%;

  background: radial-gradient(circle at bottom left, #020202 70%, #D9D9D9 120%);
  box-shadow: 4px -4px 8px #ffffff;
  z-index: -1;

  opacity:0;
  transform: translateY(10px) scale(.75);
  transition: all .5s ease;
}

.world:hover:before{
  transform: translate(0,0);
  opacity: 1;
}

.world:hover:after{
  transform: translateY(0) scale(1);
  opacity: 1;
}

.xp {
  transition: all .3s ease;
}

.xp:hover{
  color: var(--clr-primary-100);
  text-shadow:1px 1px 20px hsla(var(--clr-accent-4), .5), -1px -1px 20px hsla(var(--clr-accent-4), .5);
}

.xp:after{
  content: '+ 1xp';

  display: inline-block;
  position: absolute;
  right: 53%;
  bottom: 50px;

  background-color: hsl(var(--clr-accent-4));
  box-shadow: 0 4px 4px rgba(0,0,0,.25);
  font-size: var(--fs-400);
  padding: 10px;

  transition: all .5s ease-out;
  transform: translateY(10px);
  opacity: 0;
}

.xp:hover:after{
  transform: translateY(-10px);
  opacity: 1;

}





/* ---- Utility Classes ---- */

.text-primary-100 {color: var(--clr-primary-100) }
.text-primary-400 {color: var(--clr-primary-400) }
.text-primary-900 {color: var(--clr-primary-900) }
.text-accent-1 {color: hsl(var(--clr-accent-1)) }
.text-accent-2 {color: hsl(var(--clr-accent-2)) }
.text-accent-3 {color: hsl(var(--clr-accent-3)) }
.text-accent-4 {color: hsl(var(--clr-accent-4)) }
.text-accent-5 {color: hsl(var(--clr-accent-5)) }

.bg-primary-100 {background-color: var(--clr-primary-100) }
.bg-primary-400 {background-color: var(--clr-primary-400) }
.bg-primary-900 {background-color: var(--clr-primary-900) }
.bg-accent-1 {background-color: hsl(var(--clr-accent-1)) }

.fw-bold {font-weight: var(--fw-bold); }

.fs-headers {font-size: var(--fs-headers); }
.fs-hero {font-size: var(--fs-hero); }

.ff-accent {font-family: var(--ff-accent); }
.ff-primary {font-family: var(--ff-body); }

.fs-400 {font-size:var(--fs-400) }
.fs-500 {font-size:var(--fs-500) }
.fs-700 {font-size:var(--fs-700) }
.fs-900 {font-size:var(--fs-900) }

.lh-100 {line-height: 1;}

.mx-m {margin-left: var(--sp-m); margin-right: var(--sp-m); }
.mx-s {margin-left: var(--sp-s); margin-right: var(--sp-s); }

.my-m {margin-top: var(--sp-m); margin-bottom: var(--sp-m); }
.my-s {margin-top: var(--sp-s); margin-bottom: var(--sp-s); }

.mt-m {margin-top:var(--sp-m); }
.mt-l {margin-top: var(--sp-l)}

.mb-m {margin-bottom: var(--sp-m); }
.mb-s {margin-bottom: var(--sp-s); }
.mb-xs {margin-bottom: var(--sp-xs); }

.pt-s {padding-top: var(--sp-s)}
.pt-m {padding-top: var(--sp-m)}
.pt-l {padding-top:var(--sp-l)}
.pt-xl {padding-top: var(--sp-xl);}

.py-l {padding-top:var(--sp-l); padding-bottom:var(--sp-l)}
.py-xl {padding-top:var(--sp-xl); padding-bottom:var(--sp-xl)}

.flex {display:flex; }
.flex-col {flex-direction: column; }
.flex-row {flex-direction: row;}
.flex-wrap { flex-wrap: wrap; }

.align-center {align-items: center;}
.align-end {align-items: flex-end;}

.jc--center {justify-content: center;}
.jc--sb {justify-content: space-between; }
.js--se {justify-content: space-evenly; }

.gap--sp {gap:var(--sp-m) }
.gap--s {gap: var(--sp-s) }
.gap--xs {gap: var(--sp-xs)}

.of-visible{overflow: visible;}

.delay-1{transition-delay: 1s;}

.w-min {width: min-content}